.il-bl {
  display: inline-block;
  vertical-align: top;
}

.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-10-20 {
  padding: 10px 20px;
}

.popover {
  position: relative;
}

.popover-content {
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: 0;
  z-index: 1;
  bottom: 30px;
  right: 0;
}

.popover-content.-arrow {
  margin-top: 10px;
}

.popover-content.-arrow::before,
.popover-content::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 10px;
}

.popover-content.-arrow::before {
  top: -10px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.15);
}

.popover-content.-arrow::after {
  top: -8px;
  margin-left: 1px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.context-menu {
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.context-menu-item {
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.context-menu-link {
  display: block;
  padding: 3px 7px;
  text-decoration: none;
  color: #333;
}
.context-menu-link:visited {
  color: #333;
}
.context-menu-link:hover {
  color: #fff;
  background-color: #3367d6;
}
